<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PerfDog Petstore API Suite">
    <test name="Petstore Automated Endpoints">
        <classes>
            <class name="com.perfdog.automation.test.CreateUserTest"/>
            <class name="com.perfdog.automation.test.LoginUserTest"/>
            <class name="com.perfdog.automation.test.FindPetsByStatusTest"/>
            <class name="com.perfdog.automation.test.GetPetTest"/>
            <class name="com.perfdog.automation.test.CreateOrderTest"/>
            <class name="com.perfdog.automation.test.LogoutUserTest"/>
        </classes>
    </test>
</suite>